body {
    background: #1c1c1c;
}

.main-page{
    display: flex;
    flex-direction: column;    
    height: 5%;
    min-height: 97vh;
}

.main-block {
    margin-left: 25%;
    margin-right: 25%;
}
.categories{
    display: flex;
    justify-content: space-evenly;    
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.about {
    text-align: right;
}
#about {
    color: #dfdfdf;
}

#main-title{
    text-align: center;
    margin-top: 10%;
    color: #dfdfdf;
}

a{
    text-decoration: none;
    color: #73d8c5;
}
a:hover{
    text-decoration: underline;    
}

hr {    
    background-color: #a0a0a0;
    color: #a0a0a0;
    height: 2px;
}

footer {
    color: #dfdfdf;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#name {
    margin-right: 10px;
    font-size: 17px;
}

footer a {
    text-decoration: none;
    margin: 0 5px;
}

footer img {
    vertical-align: middle;
}