body {
    display: flex;
    background: #1c1c1c;
}

.main-block {
    margin-left: 15%;
    margin-right: 15%;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    color: #fafafa;
}

.under-hr-info {
    display: flex;
    justify-content: space-between;
}

#title {
    color: #dfdfdf;
    margin-top: 10%;
    font-size: xx-large;
}

#date {
    color: #888;
    font-size: large;
}

#all-posts {
    text-decoration: none;
    color: #73d8c5;
}

hr {    
    background-color: #a0a0a0;
    color: #a0a0a0;
    height: 0.5px;
}

table {
    width: 50%;
    background: white;
    color: black;
    border-spacing: 1px;
   }
td, th {
    padding: 5px;
}

a {
    color: #73d8c5;
}

h3 {    
    margin-top: 50px;
}

img { 
    margin: auto;
}
.iframe_center {
    display: flex;
    justify-content: center; /* Выравниваем по горизонтали по центру */
    align-items: center; /* Выравниваем по вертикали по центру */    
}
.formula {
    text-align: center;
}
.one_picture {
    display: block;
}
.two_pictures {
    text-align: center;
    display: block;
}
.pictures {
    padding-right: 100px;
}
.captions {
    display: flex;    
    text-align: center;
    margin: auto;
    justify-content: center;
}
.one_caption {
    text-align: center;
}