body {
    background: #1c1c1c;
}

.main-page{
    display: flex;
    flex-direction: column;    
    height: 5%;    
}
.main-block {
    margin-left: 25%;
    margin-right: 25%;
}
.categories{
    display: flex;
    justify-content: space-evenly;    
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

#main-title{
    text-align: center;
    margin-top: 13%;
    color: #dfdfdf;
}

a{
    text-decoration: none;
    color: #73d8c5;    
}
a:hover{
    text-decoration: underline;    
}

hr {    
    background-color: #a0a0a0;
    color: #a0a0a0;
    height: 2px;
}



.articles {
    margin-left: 25%;
    margin-right: 25%;
}

.article {
    font-size: x-large;
}

.date {
    color: #a0a0a0;
    font-size: large;
}

li {
    list-style-type: none;
}
